<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreedomVPN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="left-panel">
    </div>
    <div class="main-panel">
        <button class="refresh-btn" id="refresh-btn">
            <span class="text-btn">Refresh</span>
        </button>
        <button class="VPN-btn" id="VPN-btn">
            <span class="text-btn">VPN</span>
        </button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>